<div id="list-<%= list.id %>" class="panel panel-default">
  <div data-toggle="collapse" data-parent="#user-lists-accordion" href="#<%= "list-#{list.id}-body" %>" class="">

    <!-- LIST-CARD -->
    <div class="list-card o__hoverable" >
      <h4 class="noselect">
        <%= list.name %>
        <div class="float-right">
          <div id="<%= "list-#{list.id}-todo-count"%>" class="todo-count">
            <%= list.todos.count %>
          </div>
          <div class="float-right">
            <%= link_to "", [current_user, list], method: :delete, class: 'icon ion-android-close', remote: true %>
          </div>
        </div>
      </h4>
    </div>
  </div>

  <!-- LIST-CARD-BODY -->
  <div id="<%= "list-#{list.id}-body" %>" class="panel-collapse collapse">
    <!-- LIST-CARD-BODY-TODOS -->
    <div class="panel-body">
      <!-- LIST-CARD-BODY-NEW-TODO -->
      <div class="new-todo">
        <%= render 'todos/form', todo: Todo.new, list: list %>
      </div>
      <div id="<%= "list-#{list.id}-todos" %>">
        <%= render list.todos %>
      </div>
    </div>
  </div>
</div>