<% list_id              = "#list-#{@list.id}" %>
<% user_message         = "#user-message" %>
<% user_motivation      = ["Just do it.", "Don't let your dreams be dreams.", "Yesterday you said tomorrow.", "Make your dreams come true.", "Wake up and work hard at it.", "Nothing is impossible.", "Yes you can.", "If you're tired of starting over, stop giving up."].sample %>
<% user_first_name      = current_user.name.split.first %>
<% user_todos_count     = pluralize(current_user.todos.count, 'todo', 'to-dos') %>


<% if @list.destroyed? %>
    // hide list
    $('<%= list_id %>').fadeOut(300);
    // update user message
    $('<%= user_message %>').html('<h2><%= "#{user_first_name}, you have #{user_todos_count}..." %></h2>');
    $('<%= user_message %>').append('<h3><%= user_motivation %></h3>');
    // post event to intercom
    Intercom('trackEvent', 'deleted-list');
<% else %>
    // show flash error / something went wrong in deletion
    $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] = ">_<"%></div>");
<% end %>
