<div class="row">
  <div class="col-xs-7 sign-up-log-in">

    <h2>Still Can't Log In?</h2>
    <br>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <%= form_group_tag(devise_error_messages![:email]) do %>
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: "Email" %>
        <small class="error-message"><%= devise_error_messages![:email].first %></small>
    <% end %>

    <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
    </div>

    <% end %>
  </div>
</div>
