<div class="row">
  <div class="col-xs-7 sign-up-log-in">

    <h2>Edit Profile</h2>
    <br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= form_group_tag(devise_error_messages![:name]) do %>
            <%= f.label :name %> <br />
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Full name" %>
            <small class="error-message"><%= devise_error_messages![:name].first %></small>
        <% end %>

        <%= form_group_tag(devise_error_messages![:email]) do %>
            <%= f.label :email %> <br />
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
            <small class="error-message"><%= devise_error_messages![:email].first %></small>
        <% end %>

        <%= form_group_tag(devise_error_messages![:password]) do %>
            <%= f.label :password %><i> (leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: "Password", autocomplete: "off" %>
        <% end %>

        <%= form_group_tag(devise_error_messages![:password_confirmation]) do %>
            <%= f.label :password_confirmation %> <br />
            <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: "Confirm Password", autocomplete: "off" %>
            <small class="error-message"><%= devise_error_messages![:password_confirmation].first %></small>
        <% end %>

        <%= form_group_tag(devise_error_messages![:current_password]) do %>
            <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
            <%= f.password_field :current_password, class: 'form-control', placeholder: "Confirm Password", autocomplete: "off" %>
            <small class="error-message"><%= devise_error_messages![:current_password].first %></small>
        <% end %>

      <div class="actions">
        <%= f.submit "Save Changes" %>
      </div>
    <% end %>

    <br>
    <div class="unhappy">
      <span>Unhappy?</span>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: 'cancel-account-button' %>
    </div>

  </div>
</div>