<div id="<%= "list-#{list.id}-new-todo" %>" class="new-todo">
    <%= form_for [list, todo], url: list_todos_path([list, todo]), remote: true do |f| %>
        <div class="input-group" id="<%= "list-#{list.id}-new-todo-input" %>">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Create a todo' %>
          <span class="input-group-btn">
            <%= f.submit "Create", class: 'btn btn-success' %>
          </span>
        </div>
    <% end %>
</div>