<div id="todo-<%= todo.id %>" class="todo">
  <%= todo.name %>

  <div class="float-right">
      <span class="todo-created-time"> <%= distance_of_time_in_words(todo.created_at, Time.now, scope: 'datetime.distance_in_words') %></span>
    <!-- EDIT TO DO -->
    <%= link_to "", edit_list_todo_path(todo.list, todo.id), class: 'ion-compose', remote: true %>
    <!-- DELETE TO DO -->
    <%= link_to "", [todo.list, todo], method: :delete, class: 'icon ion-android-close', remote: true %>
  </div>
</div>
