
<% list_new_todo_div    = "#list-#{@todo.list.id}-new-todo" %>
<% list_new_todo_input  = "#list-#{@todo.list.id}-new-todo-input" %>
<% list_todos_div       = "#list-#{@todo.list.id}-todos" %>
<% list_todos_count     = "#list-#{@todo.list.id}-todo-count" %>

<% user_message         = "#user-message" %>
<% user_motivation      = ["Just do it.", "Don't let your dreams be dreams.", "Yesterday you said tomorrow.", "Make your dreams come true.", "Wake up and work hard at it.", "Nothing is impossible.", "Yes you can.", "If you're tired of starting over, stop giving up."].sample %>
<% user_first_name      = current_user.name.split.first %>
<% user_todos_count     = pluralize(current_user.todos.count, 'todo', 'to-dos') %>

<% if @todo.valid? %>
    // add todo to top of todos div
    $('<%= list_todos_div %>').prepend("<%= escape_javascript(render partial: 'todos/todo', locals: { todo: @todo }) %>");
    // update list todos count
    $('<%= list_todos_count %>').html('<%= @todo.list.todos.count %>');
    // remove has error warning if exists
    $('<%= list_new_todo_input %>').removeClass('has-error');
    // render new create todo form
    $('<%= list_new_todo_div %>').html("<%= escape_javascript(render partial: 'todos/form', locals: { list: @todo.list, todo: Todo.new }) %>");
    // update user message
    $('<%= user_message %>').html('<h2><%= "#{user_first_name}, you have #{user_todos_count}..." %></h2>');
    $('<%= user_message %>').append('<h3><%= user_motivation %></h3>');
    // post event to intercom
    Intercom('trackEvent', 'created-todo');
<% else %>
    // display error if todo is empty
    $('<%= list_new_todo_input %>').addClass('has-error');
<% end %>


