<!DOCTYPE html>
<html>
<head>
  <title>Do It!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' %>
  <%= stylesheet_link_tag    'application', 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--NAVBAR-->
<nav id="mainNav" class="navbar navbar-default">
  <!--NAVBAR HEADER-->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks">
      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
    </button>
  </div>

  <!--NAVBAR LINKS-->
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="nav navbar-nav navbar-right">

      <% if current_user %>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %>
          </li>
          <li>
            <%= link_to "Log In", new_user_session_path, :class => 'navbar-link'  %>
          </li>
      <% end %>



    </ul>
  </div>
</nav>
<!--/NAVBAR-->

<div class="container">

  <!--FLASH MESSAGES-->
  <div class="flash">
    <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
    <% elsif flash.now[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash.now[:alert] %>
        </div>
    <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
    <% end %>
  </div>
  <!-- /FLASH-MESSAGES -->

  <%= yield %>


  <div class="footer">
  </div>

</div>

</body>
</html>
